body {
	margin-top: 50px;
}

/*Navbar*/
	.navbar-brand, .nav-link {
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);

	}

/*Image*/
	.image-logo {
		height: 150px;
		width: auto;

	}

	.image-logo img{
		padding-top: 35px; 
	}


/*font*/
h4{
	font-size: 20px;
	padding-top: 7px;
}


/*Lokasi*/

.lokasi {
	margin-top: 15px;
	margin-bottom: -20px;
}


.jumbotron {
	margin-top: 30px;
}
.container .map  {
	width: auto;
	height: 300px;
}

footer {
	margin-top: -35px;
}


/*Mobile*/
@media (max-width: 576px) {

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: black;
		
	}

	h1{
		font-size: 25px;
		padding-top: 20px;	
	}

	h4	{
		font-size: 10px;
		 
	}

	p {
		font-size: 12px;
	}

	.jumbotron .container p{
		padding-top: 15px;
		font-size: 14px;
	}	

	font {
		font-size: 10px;
	}

	.container .map  {
		width: 250px;
		height: 300px;
	}
}